@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    transition: all 0.3s ease 0s;
   
}

.img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.title {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: white;
    -webkit-app-region: drag;
    
}

.buttonTop {
  
    padding-right: 15px;
    margin: 20px;
    border-radius: 51px;
    
}

.buttonClose {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    margin: 5px;
    outline: none;
    

}

.buttonClose:hover {

    background-color: red;
}

.buttonReduce {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonReduce:hover {

    background-color: aqua;
}

.buttonSize {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonSize:hover {

    background-color: aqua;
}


body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
  
    user-select: none;
    font-family: 'Ubuntu', sans-serif;

}

.red {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(247, 46, 46);
    color: white

}

.yellow {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(183, 197, 59);
    color: white

}

.green {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(31, 226, 112);
    color: white

}

.content {
    padding: 30px;
    display: flex;

}

.box {
    height: 360px;
    width: 800px;
    border-radius: 15px;
    background-color: rgb(107, 223, 113);
    box-shadow: 10px 0px 10px rgba(107, 223, 113, 0.575);
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    
}

.btitle {
    
    color:rgb(255, 255, 255);
    font-size: 35px;
    -webkit-user-select: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    
  
}

.arrow {
    
    font-style: oblique;
    font-size: 25px;
}

.btnGroup {

    
    display: block;
    padding-left: 40px;    
    align-items: center;
    text-align: center;


}

.btnMenu {

   
   height: 80px;
   width: 80px;
   border-radius: 80px;
   background-color: rgb(27, 134, 170);
   outline: none;
   border-color: transparent;
   transition: all 0.3s ease 0s;
   color:white;
      
}

.btnMenu:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
}

.btnMenu:active {
    box-shadow: none;
    background-color: rgb(27, 134, 170);
}



.btnLabel {

    margin: 10px;
    color: white;
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.747);
    position: absolute;
    text-align: center;
     font-family: 'Ubuntu', sans-serif;

}
.firstLine {

    display: flex;
}

.btnSet {
    position: relative;
    margin-left: 10px;
}

#backBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
   

}

#backBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

#backBtn:active {

    box-shadow: none;
    background-color: rgb(27, 134, 170);

}

.btitle {

    text-align: center;
    position: absolute;
    margin-left: 60px;
    top: 122px;
    font-family: 'Ubuntu', sans-serif;

}

.menuTitle {

    display: flex;

}

.audiolabel {

    color: white;
    font-size: 25px;
    left: 105px;
    top: 212px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
}

.updatelabel {

    color: white;
    font-size: 25px;
    left: 105px;
    top: 340px;
    position: absolute;
     font-family: 'Ubuntu', sans-serif;
    
}

.headphones {

    color: white;
    font-size: 15px;
    margin-left: 20px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.microphone {

    color: white;
    font-size: 15px;
    margin-left: 20px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.headphoneslabel {
    color: white;
    font-size: 15px;
    margin-left: 30px;
    top: 270px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;

}

.microphonelabel {
    color: white;
    font-size: 15px;
    margin-left: 30px;
    top: 310px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;

}

.audioheadlist {

    border: none;
    border-radius: 50px;
    outline: none;
    position: absolute;
    margin-left: 115px;
    top: 282px;
    padding: 5px;
    background-color: rgb(27, 134, 170);
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.audiomicrolist {

    

    border: none;
    border-radius: 50px;
    outline: none;
    position: absolute;
    margin-left: 125px;
    top: 322px;
    padding: 5px;
    background-color: rgb(27, 134, 170);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
    
}

.label {

    position: absolute;
    color: rgba(128, 128, 128, 0.692);
    left: 480px;
    top: 480px;
    font-family: 'Ubuntu', sans-serif;
}

.findUpdate {

    color: white;
    font-size: 15px;
    margin-left: 20px;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
}

.checkUpdateDis {

  
    border-radius: 40px;
    border-color: transparent;
    background-color: rgb(27, 134, 170);
    outline: none;
    transition: all 0.3s ease 0s;
    color:white;
    font-size: 15px;
    margin-left: 30px;
    top: 410px;
    position: absolute;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}


.checkUpdate {

  
    border-radius: 40px;
    border-color: transparent;
    background-color: rgb(27, 134, 170);
    outline: none;
    transition: all 0.3s ease 0s;
    color:white;
    font-size: 15px;
    margin-left: 30px;
    top: 410px;
    position: absolute;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}
   



.checkUpdate:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    font-family: 'Ubuntu', sans-serif;
    

}
.checkUpdate:active {

    box-shadow: none;
    background-color: rgb(27, 134, 170);
    font-family: 'Ubuntu', sans-serif;

}

.checkAutolabel {

    color: white;
    font-size: 15px;
    margin-left: 30px;
    top: 455px;
    position: absolute;
    font-family: 'Ubuntu', sans-serif;

}




#searchUpdateBox {

    position: absolute;
    margin-left: 330px;
    top: 447px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 30px;
    border-color: rgb(27, 134, 170);
    border-style: solid;
    border-width: 2px;
    height: 30px;
    width: 30px;
    background: transparent;
    outline: none;
    
    
}

#searchUpdateBox:checked {
    background: rgb(27, 134, 170);
    
   
   
}

.tickUpd {


    font-size: 40px;
    color: white;
    visibility: visible;
    text-align: center;
   
}

.notVisible {

    visibility: hidden;
  

}

.fa-check {

    padding-top: 5px;
}

#backUpdBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
    position: absolute;
    top: 25px

}

#backUpdBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

#backUpdBtn:active {

    box-shadow: none;
    background-color: rgb(33, 171, 218);

}

#updateShowLog {

    width: 500px;
    height: 400px;
    border-radius: 20px;
    border: none;
    background-color: rgb(11, 189, 189);
    user-select: none;
    
}

#updateTitle {

    text-align: center;
    position: absolute;
    margin-left: 90px;

    color: white;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    top: 0px;
}

#contentUpdate {

    overflow: auto;
    width: 500px;
    height: 130px;
    
    
}
#contentUpdate::-webkit-scrollbar {

    background-color: transparent;

}

#contentUpdate::-webkit-scrollbar-button {

    display: none;

}

#contentUpdate::-webkit-scrollbar-track {
    position: relative;
    background: rgba(27, 134, 170, 0.37);
    border-radius: 8px;
}



#contentUpdate::-webkit-scrollbar-thumb {
    background: rgb(27, 134, 170);
    border-radius: 8px;
    
    
  }

#validUpdate{

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 199, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}



#validUpdate:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(117, 255, 89);

}

#validUpdate:hover {

    background-color: rgb(33, 199, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}

#cancelUpdate {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 206, 212);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}



#cancelUpdate:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(34, 248, 255);

}

#cancelUpdate:hover {

    background-color: rgb(33, 206, 212);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 206, 212, 0.747);
    
}

.infoUpdLabel {

    color: yellow;
    position: absolute;
    left: 300px;
    top: 400px
}