@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    transition: all 0.3s ease 0s;
   
}

.img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.title {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: white;
    -webkit-app-region: drag;
    
}

.buttonTop {
  
    padding-right: 15px;
    margin: 20px;
    border-radius: 51px;
    
}

.buttonClose {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    margin: 5px;
    outline: none;
    

}

.buttonClose:hover {

    background-color: red;
}

.buttonReduce {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonReduce:hover {

    background-color: aqua;
}

.buttonSize {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonSize:hover {

    background-color: aqua;
}


body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;

}

.red {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(247, 46, 46);
    color: white

}

.yellow {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(183, 197, 59);
    color: white

}

.green {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(31, 226, 112);
    color: white

}

.content {
    padding: 30px;
    display: flex;

}

.box {
    height: 360px;
    width: 800px;
    border-radius: 15px;
    background-color: rgb(107, 223, 113);
    box-shadow: 10px 0px 10px rgba(107, 223, 113, 0.575);
    margin: 10px;
    
    padding: 20px;
    
}

.btitle {
    
    color:rgb(255, 255, 255);
    font-size: 35px;
    -webkit-user-select: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    
  
}

.arrow {
    
    font-style: oblique;
    font-size: 25px;
}

.btnGroup {

    
    display: block;
    padding-left: 40px;    
    align-items: center;
    text-align: center;

}

.btnMenu {

   
   height: 80px;
   width: 80px;
   border-radius: 80px;
   background-color: rgb(27, 134, 170);
   outline: none;
   border-color: transparent;
   transition: all 0.3s ease 0s;
   color:white;
      
}

.btnMenu:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
}

.btnMenu:active {
    box-shadow: none;
    background-color: rgb(27, 134, 170);
}



.btnLabel {

    margin: 10px;
    color: white;
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.747);
    position: absolute;
    text-align: center;
    

}
.firstLine {

    display: flex;
}

.btnSet {
    position: relative;
    margin-left: 10px;
}

#backBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
   

}

#backBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

#backBtn:active {

    box-shadow: none;
    background-color: rgb(27, 134, 170);

}

.btitle {

    text-align: center;
    position: absolute;
    margin-left: 60px;
    top: 122px;

}

.menuTitle {

    display: flex;

}

#addNetworkBtn {

  
    border-radius: 40px;
    border-color: transparent;
    background-color: rgb(27, 134, 170);
    outline: none;
    transition: all 0.3s ease 0s;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    
   

}

#addNetworkBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    
    

}

#addNetworkBtn:active {

    box-shadow: none;
    background-color: rgb(27, 134, 170);

}

#addNetForm {

    border-radius: 20px;
    background-color: rgb(107, 223, 113);
    border: none;
    transition: all 0.3s ease 0s;
    color:white;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    width: 300px;
    height: 400px;
    text-align: center;

}

#addNetFormNext {

    border-radius: 20px;
    background-color: rgb(107, 223, 113);
    border: none;
    transition: all 0.3s ease 0s;
    color:white;
    font-family: "Ubuntu", sans-serif;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    width: 300px;
    height: 400px;
    text-align: center;

}

#closeFormBtn {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: red;
    font-family: "Ubuntu", sans-serif;
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
}


#closeFormNextBtn {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: red;
    font-family: "Ubuntu", sans-serif;
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
}

#closeFormBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);
}

#closeFormNextBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);
}

#closeFormBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(243, 62, 62);
    font-family: "Ubuntu", sans-serif;

} 

#closeFormNextBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(243, 62, 62);
    font-family: "Ubuntu", sans-serif;
}

#sendFormNextBtn {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 199, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}



#sendFormNextBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(117, 255, 89);

}

#sendFormNextBtn:hover {

    background-color: rgb(33, 199, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}

#sendFormBtn {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 206, 212);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}



#sendFormBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(34, 248, 255);

}

#sendFormBtn:hover {

    background-color: rgb(33, 206, 212);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 206, 212, 0.747);

}


.circle {

    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: deepskyblue;
    margin-left: 95px;
    align-items: center;
}

.logoWifi {

    font-size: 30px;
    margin-top: 30px;

}

#newIpField {

    padding: 10px 28px;
    background-color: rgba(27, 134, 170, 0.671);
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
}


#newPortField {

    padding: 10px 28px;
    background-color: rgba(27, 134, 170, 0.671);
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

#newNameField {

    padding: 10px 28px;
    background-color: rgba(27, 134, 170, 0.671);
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

#newAutoConnexionBox {

   
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 29px;
    border-color: rgb(27, 134, 170);
    border-style: solid;
    border-width: 2px;
    height: 29px;
    width: 29px;
    background: transparent;
    outline: none;
    
    
}

#newAutoConnexionBox:checked {
    background: rgb(27, 134, 170);
    
   
   
}

.tickUpd {


    font-size: 40px;
    color: white;
    visibility: visible;
    text-align: center;

}
   
.fa-check {

    padding-top: 5px;
}

.modelNetwork {

   display: flex;
   justify-content: space-between;
   color: white;
   font-size: 30px;
}

.infoNetwork {

    font-size: 20px;
}

.sideBar {

    height: 2px;
    width: 775px;
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 5px;
}

.networkLogo {

    margin-top: 15px;
}

.beetweenBar {

    height: 5px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.952);
    border-radius: 5px;
    margin-top: 30px;
}

.beetweengBar {

    height: 5px;
    width: 20px;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 5px;
    margin-top: 30px;
}

#connexionBtn {

    outline: none;
    border-radius: 30px;
    border: transparent;
    background-color: rgb(33, 199, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}



#connexionBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(117, 255, 89);

}

#connexionBtn:hover {

    background-color: rgb(33, 199, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}


#editBtn {

    outline: none;
    border-radius: 30px;
    border: transparent;
    background-color: rgb(199, 169, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
}



#editBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(238, 255, 0);

}

#editBtn:hover {

    background-color: rgb(199, 169, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}

#deleteBtn {

    outline: none;
    border-radius: 30px;
    border: transparent;
    background-color: red;;
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 10px;

    
}



#deleteBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(243, 62, 62);
    font-family: "Ubuntu", sans-serif;

    

}

#deleteBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);

}

.stateofNetwork {

    font-size: 15px;
}