@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    transition: all 0.3s ease 0s;
   
}

.img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.title {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: white;
    -webkit-app-region: drag;
    
}

.titleU {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    margin-right: 30px;
    color: white;
    -webkit-app-region: drag;
    padding: 10px;
    background-color: rgb(107, 223, 113);
    box-shadow: 10px 0px 10px rgba(107, 223, 113, 0.575);
    border-radius: 15px
    
}

.buttonTop {
  
    padding-right: 15px;
    margin: 20px;
    border-radius: 51px;
    
}

.buttonClose {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    margin: 5px;
    outline: none;
    

}

.buttonClose:hover {

    background-color: red;
}

.buttonReduce {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonReduce:hover {

    background-color: aqua;
}

.buttonSize {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonSize:hover {

    background-color: aqua;
}


body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;

}

.red {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(247, 46, 46);
    color: white

}

.yellow {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(183, 197, 59);
    color: white

}

.green {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(31, 226, 112);
    color: white

}

.content {
    padding: 30px;
    

}

#updateProcessBar {

    width: 450px;
    height: 30px;
   
   
}



#updateInfoLabel {
    text-align: center;
    color:white;
}

.notVisible {

    visibility: hidden;
}

#stopBtn {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: red;
    font-family: "Ubuntu", sans-serif;
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    left: 225px;
    position: absolute;
}

#stopBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);
}

#stopBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);
}