@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    transition: all 0.3s ease 0s;
   
}

.img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.title {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: white;
    -webkit-app-region: drag;
    
}

.buttonTop {
  
    padding-right: 15px;
    margin: 20px;
    border-radius: 51px;
    
}

.buttonClose {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    margin: 5px;
    outline: none;
    

}

.buttonClose:hover {

    background-color: red;
}

.buttonReduce {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonReduce:hover {

    background-color: aqua;
}

.buttonSize {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonSize:hover {

    background-color: aqua;
}


body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;

}

.red {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(247, 46, 46);
    color: white

}

.yellow {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(183, 197, 59);
    color: white

}

.green {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(31, 226, 112);
    color: white

}

.content {
    padding: 30px;
    display: flex;

}

.box {
    height: 360px;
    width: 800px;
    border-radius: 15px;
    background-color: rgb(107, 223, 113);
    box-shadow: 10px 0px 10px rgba(107, 223, 113, 0.575);
    margin: 10px;
    
    padding: 20px;
    
}

.btitle {
    
    color:rgb(255, 255, 255);
    font-size: 35px;
    -webkit-user-select: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    
  
}

.arrow {
    
    font-style: oblique;
    font-size: 25px;
}

.btnGroup {

    
    display: block;
    padding-left: 40px;    
    align-items: center;
    text-align: center;

}

.btnMenu {

   
   height: 80px;
   width: 80px;
   border-radius: 80px;
   background-color: rgb(27, 134, 170);
   outline: none;
   border-color: transparent;
   transition: all 0.3s ease 0s;
   color:white;
      
}

.btnMenu:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
}

.btnMenu:active {
    box-shadow: none;
    background-color: rgb(27, 134, 170);
}



.btnLabel {

    margin: 10px;
    color: white;
    text-shadow: 5px 2px 5px rgba(255, 255, 255, 0.747);
    position: absolute;
    text-align: center;
    

}
.firstLine {

    display: flex;
}

.btnSet {
    position: relative;
    margin-left: 10px;
}

#backBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
   

}

#backBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

#backBtn:active {

    box-shadow: none;
    background-color: rgb(27, 134, 170);

}

.btitle {

    text-align: center;
    position: absolute;
    margin-left: 60px;
    top: 122px;

}

.menuTitle {

    display: flex;

}

#lastStartupLabel {

    font-size: 15px;
    color: white;
}

.fileExplorerTable {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    width: 750px;
    height: 200px;
    text-align: center;
    border: 1px solid rgb(27, 134, 170);
    
   
}
.fileExplorerTable tr {
   border: 1px solid rgb(27, 134, 170); 
    color: white;
}

.fileExplorerTable td {

    border: 1px solid rgb(27, 134, 170); 
    padding: 10px;
}

.logContentTable {
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    width: 675px;
    height: 200px;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: white;
    
}


.logContentTable tr {
    padding: 10px;
   
 }
 
 .logContentTable td {
 
    border: 1px solid black;
    padding: 10px;
    color: black;
 }
 





.showBtn {

    outline: none;
    border-radius: 30px;
    border: transparent;
    background-color: rgb(33, 199, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 30px;
    height: 30px;
    
    
}



.showBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(117, 255, 89);

}

.showBtn:hover {

    background-color: rgb(33, 199, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}



.deleteBtn {

    outline: none;
    border-radius: 30px;
    border: transparent;
    background-color: red;;
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 30px;
    height: 30px;


    
}



.deleteBtn:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(243, 62, 62);
    font-family: "Ubuntu", sans-serif;

    

}

.deleteBtn:hover {

    background-color: red;
    color: white;
    box-shadow: 5px 2px 5px rgba(255, 0, 0, 0.747);

}


.conteneur {
    max-height:210px;
    
    max-width:780px;
    
    overflow: auto;

    
}

.conteneur::-webkit-scrollbar {

    background-color: transparent;

}

.conteneur::-webkit-scrollbar-button {

    display: none;

}

.conteneur::-webkit-scrollbar-track {
    position: relative;
    background: rgba(27, 134, 170, 0.37);
    border-radius: 8px;
}



.conteneur::-webkit-scrollbar-thumb {
    background: rgb(27, 134, 170);
    border-radius: 8px;
    
    
}



#fileExplorerTitle {

    color: white;
    display: flex;
    justify-content: space-between;
}

#actions {

    margin-right: 60px;
}

#namefile {

    margin-left: 90px;
}

#date {

    margin-left: 40px;
}

#backLogBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
    position: absolute;
    top: 25px

}

#backLogBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

#backLogBtn:active {

    box-shadow: none;
    background-color: rgb(33, 171, 218);

}

.actBtnDisabled {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgba(27, 134, 170, 0.788);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
    position: absolute;
    top: 220px;
    left: 800px;

}

.actBtn {

    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: rgb(27, 134, 170);
    outline: none;
    border-color: transparent;
    transition: all 0.3s ease 0s;
    color:white;
    position: absolute;
    top: 220px;
    left: 800px;

}
.actBtn:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
    

}

.actBtn:active {

    box-shadow: none;
    background-color: rgb(33, 171, 218);

}

#dialogLog {

    width: 700px;
    height: 400px;
    border-radius: 20px;
    border: none;
    background-color: rgb(11, 189, 189);
    
}

.contentLog {

    overflow: auto;
    width: 700px;
    height: 300px;
    
    
}
.contentLog::-webkit-scrollbar {

    background-color: transparent;

}

.contentLog::-webkit-scrollbar-button {

    display: none;

}

.contentLog::-webkit-scrollbar-track {
    position: relative;
    background: rgba(27, 134, 170, 0.37);
    border-radius: 8px;
}



.contentLog::-webkit-scrollbar-thumb {
    background: rgb(27, 134, 170);
    border-radius: 8px;
    
    
  }

#nameOfFileLabel {

    text-align: center;
    position: absolute;
    margin-left: 60px;
    color: white;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    top: 0px;
}