@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    transition: all 0.3s ease 0s;
   
}

.img {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    width: 50px;
    height: 50px;
}

.title {
    
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: white;
    -webkit-app-region: drag;
    
}

.buttonTop {
  
    padding-right: 15px;
    margin: 20px;
    border-radius: 51px;
    
}

.buttonClose {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    margin: 5px;
    outline: none;
    

}

.buttonClose:hover {

    background-color: red;
}

.buttonReduce {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonReduce:hover {

    background-color: aqua;
}

.buttonSize {

    padding: 4px 15px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'noto Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    -webkit-app-region: no-drag;
    outline: none;

}

.buttonSize:hover {

    background-color: aqua;
}


body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;

}

.red {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(247, 46, 46);
    color: white

}

.yellow {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(183, 197, 59);
    color: white

}

.green {

    padding: 10px;
    border-radius: 50px;
    background-color: rgb(31, 226, 112);
    color: white

}

.content {
    padding: 30px;
    display: flex;

}

.box {
    height: 400px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(107, 223, 113);
    box-shadow: 10px 0px 10px rgba(107, 223, 113, 0.575);
    margin: 10px;
    align-items: center;
    
}

.btitle {
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 35px;
    -webkit-user-select: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
}

.call {
   
    margin-left: 100px;
    font-size: 100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: deepskyblue;
    outline: none;
    border-color: transparent;
    transition: all 0.4s ease 0s;
    color:white;
}

.call:hover {
    box-shadow: 10px 5px 5px rgba(0, 191, 255, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
}

.call:active {
    box-shadow: none;
    background-color: rgb(12, 101, 131);
}

.vindic {
    align-items: center;
    text-align: center;
    color:white;
}

.arrow {
    
    font-style: oblique;
    font-size: 25px;
}

.btnGroup {

    
    display: block;
    padding-left: 40px;    
    align-items: center;
    text-align: center;

}

.btnMenu {

   
   height: 80px;
   width: 80px;
   border-radius: 80px;
   background-color: rgb(27, 134, 170);
   outline: none;
   border-color: transparent;
   transition: all 0.3s ease 0s;
   color:white;
   
      
}

.btnMenu:hover {
    box-shadow: 10px 5px 5px rgba(27, 134, 170, 0.699);
    background-color: rgb(70, 209, 255);
    color: black;
}

.btnMenu:active {
    box-shadow: none;
    background-color: rgb(27, 134, 170);
}



.btnLabel {

    margin: 10px;
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.747);
    position: absolute;
    text-align: center;
    

}
.firstLine {

    display: flex;
}

.btnSet {
    position: relative;
    margin-left: 10px;
}

#updateShowLog {

    width: 500px;
    height: 400px;
    border-radius: 20px;
    border: none;
    background-color: rgb(11, 189, 189);
    user-select: none;
    
}

#updateTitle {

    text-align: center;
    position: absolute;
    margin-left: 90px;

    color: white;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    top: 0px;
}

#contentUpdate {

    overflow: auto;
    width: 500px;
    height: 130px;
    
    
}
#contentUpdate::-webkit-scrollbar {

    background-color: transparent;

}

#contentUpdate::-webkit-scrollbar-button {

    display: none;

}

#contentUpdate::-webkit-scrollbar-track {
    position: relative;
    background: rgba(27, 134, 170, 0.37);
    border-radius: 8px;
}



#contentUpdate::-webkit-scrollbar-thumb {
    background: rgb(27, 134, 170);
    border-radius: 8px;
    
    
  }

#validUpdate{

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 199, 0);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}



#validUpdate:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(117, 255, 89);

}

#validUpdate:hover {

    background-color: rgb(33, 199, 0);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 199, 0, 0.747);

}

#cancelUpdate {

    outline: none;
    border-radius: 40px;
    border: transparent;
    background-color: rgb(33, 206, 212);
    border-style:solid;
    transition: all 0.3s ease 0s;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
}



#cancelUpdate:active {

    box-shadow: none;
    border: transparent;
    border-style:solid;
    background-color: rgb(34, 248, 255);

}

#cancelUpdate:hover {

    background-color: rgb(33, 206, 212);
    color: white;
    box-shadow: 5px 2px 5px rgba(33, 206, 212, 0.747);
    
}

.infoUpdLabel {

    color: yellow;
    position: absolute;
    left: 300px;
    top: 400px
}